<nav class="navbar rounded-box justify-between gap-4 shadow dark:shadow-black">
  <div class="navbar-start">
    <img src="favicon-32x32.png" alt="" srcset="" />
    <h1
      class="text-2xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-amber-600 to-yellow-500"
    >
      StreamTube
    </h1>
  </div>
  <div class="navbar-center flex items-center">
    <app-search></app-search>
  </div>
  <div class="navbar-end items-center gap-4">
    <app-theme-toggle></app-theme-toggle>
    <app-user-nav></app-user-nav>
  </div>
</nav>
