<main class="container-fliud mt-16">
  <h1 class="text-2xl font-bold">Channel dashboard</h1>
  <section>
    <div class="mb-8">
      <ul>
        <div class="flex gap-6 flex-row mx-[66%]">
          @for (item of list; track $index) {
          <li>
            <button
              class="tooltip z-10 btn btn-circle"
              [attr.data-tip]="item.name"
            >
              <mat-icon aria-hidden="false" aria-label="icon">{{
                item.icon
              }}</mat-icon>
            </button>
          </li>
          }
        </div>
      </ul>
    </div>
  </section>
  <section class="flex flex-row gap-10">
    <div class="dashboard-card">
      <h2 class="font-bold mx-2 my-4">Latest video performance</h2>
      <picture class="relative">
        <img
          class="rounded-lg overflow-hidden w-[350px]"
          src="https://i9.ytimg.com/vi/4pGxDfV_8DE/sddefault.jpg?sqp=CNCH6LMG-oaymwEmCIAFEOAD8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gRigkMA8=&rs=AOn4CLCvgJSsNGweC0AUMtoXVXLzfjZ3Jg"
        />
        <p class="absolute bottom-2 left-12 z-10 text-sm font-bold">
          Heeloosd asds
        </p>
      </picture>
      <div class="flex flex-col mt-4">
        <ul>
          @for (item of video_dashboard; track $index) {
          <li class="flex flex-row my-4">
            <p>{{ item.name }}</p>
            <span class="ml-auto">123</span>
          </li>
          }
        </ul>
      </div>
      <div class="mt-2 flex flex-col">
        <a class="link link-hover hover:text-blue-600 uppercase mt-4">
          Go to video analytics</a
        >
        <a class="link link-hover hover:text-blue-600 uppercase mt-4"
          >See comments</a
        >
      </div>
    </div>
    <div class="dashboard-card">
      <h2 class="font-bold my-4">Channel analytics</h2>
      <div class="">
        <ul>
          <li>
            <p class="text-sm">Current subscribers</p>
            <span class="ml-auto text-3xl">1</span>
          </li>
          <hr class="my-6" />
          <li>
            <div>
              <p class="text-sm font-bold my-6">Summary</p>
              <div class="flex flex-row text-xs">
                Views <span class="ml-auto">123</span>
              </div>
              <div class="flex flex-row mt-6 text-xs">
                Watch time (hours) <span class="ml-auto">123</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-6">
        <a class="link link-hover hover:text-blue-600 uppercase"
          >Go to channel analytics</a
        >
      </div>
    </div>

    <div class="dashboard-card">
      <h2 class="font-bold mx-2 my-4">Recent subscribers</h2>
      @for (item of [1, 2, 3, 4, 5]; track $index) {
      <div class="flex flex-row mt-6">
        <img
          class="rounded-full"
          src="https://yt3.ggpht.com/ytc/AIdro_l5EBiMK2Tm4ULq5M2ljF6ycx2TO1rTNjE-JCajHAK-4g=s48-c-k-c0x00ffffff-no-rj"
        />
        <div class="flex flex-col mx-4">
          <p>adfasdas</p>
          <span class="text-xs">103 subscribers</span>
        </div>
      </div>
      }
      <p class="link link-hover hover:text-blue-600 uppercase mt-6">
        See all subscribers
      </p>
    </div>
  </section>
</main>
