<div class="flex flex-row justify-center items-center gap-4">
  <div class="join max-w-sm">
    <input
      class="input join-item focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search"
    />
    <button
      class="btn btn-outline btn-warning btn-gradient join-item rounded-full"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <button class="btn rounded-full btn-warning btn-gradient mic px-2 ">
    <mat-icon>mic</mat-icon>
  </button>
</div>
